<div class="thumbnail">
  <div class="carousel slide">
    <div class="carousel-inner">
      <a href="/article/{{this.slug}}"><img class="img-responsive" src={{this.image.url}} alt={{this.title}}></a>
      <div class="carousel-caption" style="padding-bottom: 0px;">
        <p><a style="color: white;" href="/article/{{this.slug}}">{{this.title}}</a></p>
        <p><a href="/article/{{this.slug}}" class="btn btn-primary" role="button">Read More</a></p>
      </div>
    </div>
  </div>
</div>
